.grid {
  display: grid;
  grid-template-columns: auto 30% 35%;
  grid-template-rows: 350px 175px 175px 500px;
  // border: solid;
  // border-color: black 1px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.alpaca-profile {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: blue;
  position: relative;
  height: auto;
}

.alpaca-profile-picture {
  width: 100%;
  max-height: 100%;
}

.alpaca-key-info {
  height: auto;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  overflow: hidden;
  // background-color: white;
}

.alpaca-rating {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  // background-color: white;
}

.alpaca-description {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.alpaca-reviews {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  // background-color: yellow;
}

.alpaca-map {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  // background-color: purple;
  background-color: white;
}

.alpaca-calendar {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
  // background-color: orange;
}

.rating-block {
  width: 50px;
  height:35px;
  background-color: orange;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 0px;
}

.rating-block p {
  line-height: 34px;
}

#reviews-number {
  font-size: 12px;
  margin-left: 15px;
}

.inline h5 {
  margin-left: 15px;
}

.inline {
  display: flex;
}

// #crawl_start_date {
//   height: 10px;
//   width: 10px;
//   background-color: black;
// }
// #crawl_end_date {
//   height: 10px;
//   width: 10px;
//   background-color: black;
// }
