// index_page scss

.about-alpacas {
  margin: 30px;
}

.alpaca {
  width: 300px;
  height: 360px;
  background: white;
  border-radius: 4px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
  display: flex;
  justify-content: center;
  margin: 50px;
  position: relative;
}

.alpaca-photo {
  // height: 71%;
  // max-width: 100%;
  width: 300px;
  height: 195px;
  position: absolute;
  margin-top: 0px;
  background-position: bottom, center;
}

.alpaca-details {
  color: $green;
  position: absolute;
  bottom: 55px;
  left: 10px;
}

.alpaca-name h3 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.alpaca-action {
  position: absolute;
  bottom: 8px;
}



