<h4>Place your Booking</h4>

<%= simple_form_for [@alpaca, @booking] do |f| %>
  <div class="form-inputs">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <% if user_signed_in? %>
      <%= f.button :submit, "Book" %>
    <% else %>
    <div class="login-prompt">
      <em>Please login</em>
    </div>
    <% end %>
  </div>
<% end %>
