<div class="banner banner-about" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1512666648029-2a86e8688984?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=715&q=80');">
  <div class="about-alpacas">
    <h1>About Alpacas:</h1>
    <p>The Alpaca is a species of South American camelid. It is similar to, and often confused with, the llama. However, alpacas are often noticeably smaller than llamas. Their fur comes in more than 52 natural colors and is hilariously fluffy. Alpacas communicate through body language. The most common is spitting when they are in distress, i mean...obviously.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @alpacas.each do |alpaca| %>
      <div class="col-xs-12 col-sm-4">
        <div class="alpaca">
          <div class="alpaca-photo" >
            <%= image_tag "https://source.unsplash.com/featured/300x200/?alpacas" %>
          </div>
          <div class="alpaca-details">
            <div class="alpaca-name">
              <%= alpaca.name %>
            </div>
            <div class="alpaca-row">
              <span class="alpacas-reviews_count">34 reviews</span>
            </div>
          </div>
          <div class="alpaca-action text-center">
            <%= link_to "Show", alpaca_path(alpaca), class: "btn btn-yellow"  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div> -->
