<div class="wrapper">
  <div class="container">
    <div class="grid">
      <div class="picture-frame">
        <img id="alpaca-picture" src="https://images.unsplash.com/photo-1518259102261-b40117eabbc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <div class="avatar-large alpaca-owner"></div>
      </div>
      <div class="alpaca-key-info">
        <h2>Romeo</h2>
        <p>Bairro Alto, Lisbon</p>
        <p><strong>£100,000</strong></p>
      </div>
      <div class="alpaca-description">
        <p>This couple isn't actually here to serve you, in fact they're in need of couple therapy so please help if you can...</p>
      </div>
      <div class="alpaca-rating">
        <div class="inline">
          <div class="rating-block">
            <div>
              <p><strong>8.5</strong></p>
            </div>
          </div>
          <div>
            <h4 class="kill-margin-top kill-margin-bottom">Naked Farmer</h4>
            <p class="kill-margin-top kill-margin-bottom" id=reviews-number>3000 reviews</p>
          </div>
        </div>
        <div class="inline space-between user-rating">
          <div><p>Naked Farmer's Rating</p></div>
          <div><p>8.6</p></div>
        </div>
        <div class="rating-bar"></div>
        <div class="inline space-between user-rating">
          <div><p>Romeo's Rating</p></div>
          <div><p>8.6</p></div>
        </div>
        <div class="rating-bar"></div>
      </div>
      <div class="alpaca-reviews">
        <div class="review">
          <div class="inline">
            <div class="avatar-small"></div>
            <div>
              <div class="reviewer">
                <div><p><strong>Shannon</strong></p></div>
                <div><p>X Days ago</p></div>
              </div>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="alpaca-calendar"></div>
    </div>
  </div>
</div>
