<div class="wrapper">
  <div class="container">
    <div class="grid">

      <div class="alpaca-profile">
      <%= image_tag("alpaca-face.jpeg", class: "alpaca-profile-picture")%>
         <%= image_tag("sexyfarmer.jpg", class: "avatar-large alpaca-owner")%>
      </div>

      <div class="alpaca-key-info">
        <h3>Romeo</h3>
        <p>Bairro Alto, Lisbon</p>
        <p><strong>£100,000</strong></p>
      </div>

      <div class="alpaca-description">
        <p> This couple isn't actually here to serve you, in fact they're in need of couple therapy so please help if you can...
        </p>
      </div>

      <div class="alpaca-rating">
        <div class="inline">
          <div class="rating-block">
            <div>
              <p><strong>8.5</strong></p>
            </div>
          </div>
          <div>
            <h5>Naked Farmer</h5>
            <p id=reviews-number>3000 reviews</p>
          </div>
        </div>
        <div><p>Value for money</p></div>
        <div><p>Location</p></div>
      </div>

      <div class="alpaca-reviews">
        <div class="top-half-review">
          <div class="reviewer-photo"></div>
          <div class="review"></div>
      <div class="bottom-half-review">

      </div>
        </div>
      </div>


      <div class="alpaca-map">
        <%= image_tag("114060-OOYHOE-336.jpg", class: "map-image")%>
      </div>
      <div class="alpaca-calendar">
        <%#= simple_form_for @alpaca.name do |f| %>
          <%#= f.input :start_date, as: :date, html: { class: "crawl_start_date"} %>
          <%#= f.input :start_date, as: :date, html: { class: "crawl_start_date"} %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
