<div class="wrapper">
  <div class="container">
    <div class="container-grid">

      <div class="alpaca-profile">
          <!-- <%= image_tag("twocutealpacas", class: "alpaca-profile-picture")%> -->
         <%= image_tag("sexyfarmer", class: "avatar-large alpaca-owner")%>
      </div>

      <div class="alpaca-map"></div>


      <div class="alpaca-key-info">
        <h2 class="alpaca-key-title">Romeu & Juliet the Alpaca Couple</h2>
        <p>Bairro Alto, Lisbon</p>
        <p><strong>£100,000</strong></p>
      </div>

      <div class="alpaca-description">
        <p> This couple isn't actually here to serve you, in fact they're in need of couple therapy so please help if you can...
        </p>
      </div>

      <div class="alpaca-rating">
        <div class="inline">
          <div class="rating-block">
            <div>
              <p><strong>8.5</strong></p>
            </div>
          </div>
          <div>
            <h5>Naked Farmer</h5>
            <p id=reviews-number>3000 reviews</p>
          </div>
        </div>
        <div><p>Value for money</p></div>
        <div><p>Location</p></div>
      </div>

      <div class="alpaca-calendar"></div>

      <div class="alpaca-reviews">

        <div>
          <div class="top-half-review-row">
            <div class="reviewer-photo">
               <%= image_tag("https://source.unsplash.com/MTZTGvDsHFY/100x100", class: "avatar avatar-small")%>
            </div>
            <div class="review-details">
              <p class="review-details-content-bold">João Naruto</p>
              <p class="review-details-content"> X days ago</p>
            </div>
          </div>
          <div class="bottom-half-review-row">
              <p class="review-details-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aspernatur aut quibusdam id officia laudantium saepe, adipisci est maiores temporibus, in fuga, iusto quaerat non molestias quisquam aliquam vel eaque.</p>
          </div>
        </div>

        <div>
          <div class="top-half-review-row">
            <div class="reviewer-photo">
               <%= image_tag("https://source.unsplash.com/MTZTGvDsHFY/100x100", class: "avatar avatar-small")%>
            </div>
            <div class="review-details">
              <p class="review-details-content-bold">João Naruto</p>
              <p class="review-details-content"> X days ago</p>
            </div>
          </div>
          <div class="bottom-half-review-row">
              <p class="review-details-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aspernatur aut quibusdam id officia laudantium saepe, adipisci est maiores temporibus, in fuga, iusto quaerat non molestias quisquam aliquam vel eaque.</p>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>

