<div class="wrapper">
  <div class="container">
    <div class="grid">

      <div class="alpaca-profile">
      <%= image_tag("alpaca-face.jpg", class: "alpaca-profile-picture")%>
         <%= image_tag("sexyfarmer.jpg", class: "avatar-large alpaca-owner")%>
      </div>

      <div class="alpaca-key-info">
        <h3>Romeo</h3>
        <p>Bairro Alto, Lisbon</p>
        <p><strong>£100,000</strong></p>
      </div>

      <div class="alpaca-description">
        <p> This couple isn't actually here to serve you, in fact they're in need of couple therapy so please help if you can...
        </p>
      </div>

      <div class="alpaca-rating">
        <div class="inline">
          <div class="rating-block">
            <div>
              <p><strong>8.5</strong></p>
            </div>
          </div>
          <div>
            <h5>Naked Farmer</h5>
            <p id=reviews-number>3000 reviews</p>
          </div>
        </div>
        <div><p>Value for money</p></div>
        <div><p>Location</p></div>
      </div>

      <div class="alpaca-reviews">
        <div class="top-half-review-row">
          <div class="reviewer-photo">
             <%= image_tag("https://source.unsplash.com/MTZTGvDsHFY/100x100", class: "avatar")%>
          </div>
          </div>
          <div class="review-details">
            <p>João Naruto</p>
          <p> X days ago</p>
          </div>

        </div>
      </div>
        </div>
      </div>
      <div class="alpaca-calendar">
        <%#= simple_form_for @alpaca.name do |f| %>
          <%#= f.input :start_date, as: :date, html: { class: "crawl_start_date"} %>
          <%#= f.input :start_date, as: :date, html: { class: "crawl_start_date"} %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
