<div class="wrapper">
  <div class="container">
    <div class="grid">
      <div class="alpaca-picture">
        <div class="avatar-large alpaca-owner"></div>
      </div>
      <div class="alpaca-key-info">
        <h2>Fred the Alpaca</h2>
        <p>Bairro Alto, Lisbon</p>
        <p><strong>£100,000</strong></p>
      </div>
      <div class="alpaca-description">
        <p> I am an alpaca and I am fucking awesome. I'm furry, well cute, apart from when I spit at people but they don't even do anything cos they are a bunch of pusaaaaaayyyyyzzzzz.
        </p>
      </div>
      <div class="alpaca-rating">
        <div class="inline">
          <div class="rating-block">
            <div>
              <p><strong>8.5</strong></p>
            </div>
          </div>
          <div>
            <h5>Shannon</h5>
            <p id=reviews-number>3000 reviews</p>
          </div>
        </div>
        <div><p>Value for money</p></div>
        <div><p>Location</p></div>
      </div>
      <div class="alpaca-reviews"></div>
      <div class="alpaca-map"></div>
      <div class="alpaca-calendar">
        <%#= simple_form_for @alpaca.name do |f| %>
          <%#= f.input :start_date, as: :date, html: { class: "crawl_start_date"} %>
          <%#= f.input :start_date, as: :date, html: { class: "crawl_start_date"} %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
