<div class="banner">
  <div class="banner-content">
    <h1>allpacas.com</h1>
    <p>Your number 1 resource for alpaca rentals</p>
    <!--  avatars -->
    <div class="container">
      <div class="row">
        <% 4.times do %>
          <%= link_to image_tag("allpacas.png", class: "avatar-large"), alpacas_path %>
        <% end %>
      </div>
       <div class="row">
        <% 3.times do %>
          <%= link_to image_tag("allpacas.png", class: "avatar-large"), alpacas_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
