.banner {
  color: #FFB202;
  text-align: center;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  background-position: bottom, bottom;
}
.banner h1 {
  font-size: 85px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.banner p {
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
  font-style: 'Raleway';
  color: #005248;
  margin: 0px;
}

.body {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
}

.banner-about p {
  font-size: 25px;
  color: white;
}

.banner-about h1 {
  font-size: 50px;
}

.banner-about {
  padding: 30px;
  color: white;
  margin-bottom: 70px;
}
