<%= render 'review_form' %>

<h1>Past Reviews You’ve Written</h1>

<% @user_reviews.each do |review| %>
  <ul>
    <li>
     <h5><%= review.title %></h5>
     <p><%= review.description %></p>
    </li>
  </ul>
<% end %>
